{% extends "base.html" %}

{% block canonical %}
{% if articles_page.number == 1 %}
<link rel="canonical" href="{{ SITEURL }}">
{% endif %}
{% endblock %}

{% block title %}
{% if articles_page.number == 1 %}
{{ SITENAME }}
{% else %}
{{ SITENAME }} - page {{ articles_page.number }}
{% endif %}
{% endblock %}


{% block content %}
{% for article in articles_page.object_list %}
<article class="article_list">
  <div id="article_title">
<h2><a href="{% if article.link %}{{ article.link }}{% else %}{{ SITEURL }}/{{ article.url }}{% endif %}"  rel="bookmark">{{ article.title }}</a>{% if article.link %} <a href="{{ SITEURL }}/{{ article.url }}" class="permalinkpost">&#9733;</a>{% endif %}</h2>

</div>

    <p class="article_meta">{% if article.updated %}Updated <time datetime="{{ article.updated }}">{{ article.locale_updated }}</time> | {% endif %}<time datetime="{{ article.date.isoformat() }}" pubdate data-updaYted="true"> {{ article.locale_date }}</time> by <a rel="author" href="{{ AUTHOR_LINK }}">{{ AUTHOR }}</a></p>
  </div>
  <div id="article_text">
    {{ article.summary }}
  </div>
</article>
{% endfor %}
{% endblock %}

{% block footer %}
{% include "modules/pagination.html" %}
{% endblock %}
