{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{% block head %}
{% if page.date %}
<meta name="date" contents="{{ page.date }}" />
{% endif %}
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<article>
  <div id="article_title">
    <h3><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></h3>
  </div>
  <div id="article_text">
    {{ page.content }}
  </div>
</article>
{% endblock %}

{% block footer %}
<p><a href="{{ SITEURL }}/" class="button_accent">&larr; Back to Index</a></p>
{% endblock %}
